
 <body>
    <div class="card w-25">
        <div class="card-body text-center">
          <h5 class="card-title"><b>LOGIN FORM></b></h5>
          <form action="">
            <input type="text" [(ngModel)]="account" name="account" placeholder="enter account number"><br><br>
            <input type="password" [(ngModel)]="password" name="password" placeholder="enter password"><br><br>
          </form>
          <a  type="submit" (click)="login()" class="btn btn-primary">LOGIN</a>
        </div>
      </div>

   </body>